.wpTaiSao {
  padding: 40px 40px 40px 40px;
  margin: 0 0 80px 0;
  min-height: 650px;
  overflow: hidden;
  position: relative;
  img {
    position: absolute;
    top: 0;
    left: 0;
    background-size: 100% 100%;
    z-index: -1;
  }
}