.containerFooter {
  padding-left: 0;
  padding-right: 0;
  float: left;
  .locationArea {
    position: relative;
    width: 100%;
    background-color: #05679c;
    padding: 87px 20px 166px;
    margin-bottom: -121px;
    color: white;
    line-height: 1.4;
    float: left;
    .frame {
      max-height: 1578px;
      border-radius: 5px;
      padding: 25px;
      border: 1px solid rgba(86, 207, 255, .3);
      border-top: none;
      position: relative;
      z-index: 2;
      margin: 0 auto;
      min-width: 268px;
      float: left;
      width: 100%;
      .locationHeader {
        display: block;
        position: relative;
        text-align: center;
        font-size: 36px;
        margin-top: -80px;
        svg {
          display: inline-block;
          width: 50px;
          height: 60px;
          fill: #fff;
          opacity: .2;
          position: relative;
          top: 17px;
          margin-right: 3px;
        }
        span {
          display: inline-block;
          &::before {
            content: "";
            height: 26px;
            width: 41%;
            position: absolute;
            right: -25px;
            top: 76%;
            border: rgba(86, 207, 255, .3) solid;
            border-width: 1px 0 0;
            border-radius: 0 5px 0 0;

          }
          &::after {
            content: "";
            height: 26px;
            width: 41%;
            position: absolute;
            left: -25px;
            top: 76%;
            border: rgba(86, 207, 255, .3) solid;
            border-width: 1px 0 0;
            border-radius: 0 5px 0 0;
          }
        }
      }
      .locationHolder {
        margin: -10px auto -20px;
        width: 100%;
        border-top: 13px solid transparent;
        float: left;
        .titleHeader {
          font-size: 20px;
        }
        .titleAddress {
          font-size: 18px;
        }
        .contact {
          font-weight: 400;
          font-size: 20px;
          .phone::before {
            content: '\f098';
            font-family: "FontAwesome";
            font-size: 25px;
            margin-right: 10px;
          }
          .mobile::before {
            content: '\f10b';
            font-family: "FontAwesome";
            font-size: 40px;
            margin-right: 17px;
          }
          .email::before {
            content: '\f0e0';
            font-family: "FontAwesome";
            font-size: 25px;
            margin-right: 10px;
          }
        }
        .mapGoogle {
          iframe {
            width: 100%;
            height: 300px;
          }
        }
      }
    }
    .bg {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      opacity: 0.4;
      &.bgHCM {
        background-image: url(../images/temps/bgHCM.jpg);
      }
    }
  }
  .socialsBox {
    padding: 0 20px;
    position: relative;
    .frame {
      z-index: 2;
      float: left;
      width: 100%;
      background: #00a3de;
      border-radius: 5px;
      text-align: center;
      padding: 50px 20px;
      margin: 0 auto;
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0px;
        width: 100%;
        height: 50%;
        background: #0f1217;
        z-index: -1;
      }
      .titleHeader {
        color: white;
        display: block;
        margin-bottom: 20px;
        font-size: 36px;
        font-weight: bold;
        letter-spacing: -1px;
      }
      .socials {
        border: 1px solid #5cc2e9;
        margin: 0 auto;
        float: left;
        width: 100%;
        .bgItem {
          border-left: 1px solid #5cc2e9;
          background: rgba(37, 37, 37, .1);
          padding-top: 10px;
          padding-bottom: 10px;
          cursor: pointer;
          transition: color .3s ease-out, background-color .3s ease-out;
          &:hover {
            background-color: #dd4b39;
          }
          .item {
            height: 73px;
            color: white;
            text-align: center;
            font-size: 25px;
            font-weight: bold;
            text-decoration: none;
            vertical-align: middle;
            &.socGP {
              &::before {
                content: "\f0d5";
                font-family: "FontAwesome";
                color: white;
                font-size: 25px;
                margin-right: 10px;
              }
            }
            &.socFacebook {
              &::before {
                content: "\f09a";
                font-family: "FontAwesome";
                color: white;
                font-size: 25px;
                margin-right: 10px;
              }
            }
            &.socInstagram {
              &::before {
                content: "\f16d";
                font-family: "FontAwesome";
                color: white;
                font-size: 25px;
                margin-right: 10px;
              }
            }
            &.socTwitter {
              &::before {
                content: "\f099";
                font-family: "FontAwesome";
                color: white;
                font-size: 25px;
                margin-right: 10px;
              }
            }
          }
        }
      }
    }
  }
  .menuFooter {
    float: left;
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: #0f1217;
    .wpFooter {
      text-align: center;
      ul {
        li {
          text-transform: uppercase;
          font-weight: bold;
          text-align: center;
          list-style-type: none;
          margin-left: 20px;
          margin-top: 10px;
          display: inline;
          a {
            text-decoration: none;
            position: relative;
            padding: 5px;
            color: #4e4e4e;
            text-transform: uppercase;
            font-weight: bold;
            transition: color .2s ease-in;
          }
        }
      }
    }

  }
}

//End Footer
/*
*
*
*******Màn Hình Di Động 480px
*
*
*/
@media screen and(max-width: 480px) {
  .containerFooter {
    background-color: #0f1217;
    .locationArea {
      padding: 87px 5px 166px 5px !important;
      .frame {
        padding: 25px 0 25px 0 !important;
        .locationHolder {
          text-align: center;
          .mapGoogle {
            margin-top: 20px;
          }
        }
        .locationHeader {
          span {
            &::before {
              border: none !important;
              width: 0;
            }
            &::after {
              border: none !important;
              width: 0;
            }
          }
        }
      }
    }
    .socialsBox {
      .frame {
        .titleHeader {
          font-size: 28px;
        }
        .socials {
          .bgItem {
            border-bottom: 1px solid #5cc2e9;
          }
        }
      }
    }
    .wpFooter {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
}

@media screen and(max-width: 768px) {
  .containerFooter {
    background-color: #0f1217;
    .socialsBox {
      .frame {
        .titleHeader {
          font-size: 28px;
        }
        .socials {
          .bgItem {
            border-bottom: 1px solid #5cc2e9;
          }
        }
      }
    }

  }
}